.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50pt;
    color: white;
}

.jumbotron {
    background-color: teal;
}

.lead {
    font-weight: bold;
    background-color: gray;
    color: white;
    border-left: solid white;
    border-top: solid white;
    border-right: solid white;
    border-bottom: solid white;
    line-height: 1.3;
}

.intro {
    width: 70%;
    margin-left: 15%;
}

.footer {
    font-weight: bold;
    background-color: teal;
    color: white;
    border-left: solid white;
    border-top: solid white;
    border-right: solid white;
    border-bottom: solid white;
}

.outro {
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}

.btn-danger, .btn-warning {
    background-color: teal;
    color: white;
    border-color: white;
}

.btn-danger:hover {
    background-color:purple;
    border-color: purple;
}

.btn-warning:hover {
    background-color:purple;
    border-color: purple;
    color: white;
}


#recipeDropdown {
    margin-left: 38%;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    padding: 10px;
  }

#movieDropdown {
    margin-left: 5%;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    padding: 10px;
  }

.dropdown-menu {
    text-align: center;
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important; 
}


body {
    background-image: url("../images/brickwall.jpg");
}

.colA {
    background-color: gray;
    text-align: center;
    color: white;
    text-decoration: underline white;
    font-size: larger;
    padding-top: 10px;
    font-weight: bold;
    border-left: solid white;
    border-top: solid white;
    border-right: solid white;
    border-bottom: solid white;
}

.colB {
    background-color: gray;
    height: 300px;
    text-align: center;
    color: white;
    text-decoration: underline white;
    font-size: larger;
    padding-top: 10px;
    font-weight: bold;
    border-left: solid white;
    border-top: solid white;
    border-right: solid white;
    border-bottom: solid white;
}

.results {
    margin-left: 20%;
}